<nav class="navbar navbar-expand-lg bg-indigo">
  <a class="navbar-brand" href="#">PERROS</a>
  <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']">INICIO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/add-dogs']">AGREGAR PERROS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/get-dogs/beagle']">PERROS INSCRITOS</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
<!--
<div class="header">
  <div class="col-menu">
    <button mat-icon-button [matMenuTriggerFor]="menu" color="primary"><mat-icon>menu</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/home']">INICIO</button>
      <button mat-menu-item [routerLink]="['/add-dogs']">AGREGAR PERROS</button>
      <button mat-menu-item [routerLink]="['/get-dogs/beagle']">PERROS INSCRITOS</button>
    </mat-menu>
  </div>
  <div class="title-top">
    <h1>PERROS</h1>
  </div>
</div>
<router-outlet></router-outlet>
-->






